<h1>Movies for <%= params[:city] %> on <%=  Time.now %></h1>

<ul>
<% @movies.each do |m| %>
<li><%= m.title %> cs: <%= m.ratings.critics_score %>, as: <%= m.ratings.acudience_score %></li>
<% end %>
</ul>